{
  "$schema": "https://opencode.ai/config.json",
  "provider": {
    "amazon-bedrock": {
      "options": {
        "region": "us-west-2",
        "profile": "infra-gusto-main"
      }
    }
  },
  "agent": {
    "build": {
      "model": "amazon-bedrock/anthropic.claude-opus-4-6-v1"
    },
    "plan": {
      "model": "amazon-bedrock/anthropic.claude-sonnet-4-6"
    },
    "explore": {
      "model": "amazon-bedrock/anthropic.claude-haiku-4-5-20251001-v1:0"
    },
    "general": {
      "model": "amazon-bedrock/anthropic.claude-sonnet-4-6"
    }
  },
  "mcp": {
    "jira_confluence": {
      "type": "remote",
      "url": "https://gusto.runlayer.com/api/v1/proxy/c681d665-2603-41c1-8896-9ef211728453/mcp",
      "headers": {
        "x-runlayer-api-key": "{env:RUNLAYER_API_KEY}"
      }
    },
    "glean": {
      "type": "remote",
      "url": "https://gusto.runlayer.com/api/v1/proxy/e950e154-99ac-4b33-a67e-b7a2473ac6d8/mcp",
      "headers": {
        "x-runlayer-api-key": "{env:RUNLAYER_API_KEY}"
      }
    },
    "slack": {
      "type": "remote",
      "url": "https://gusto.runlayer.com/api/v1/proxy/b25413cf-8554-4a25-8b07-04f8a08f36e4/mcp",
      "headers": {
        "x-runlayer-api-key": "{env:RUNLAYER_API_KEY}"
      }
    },
    "gdrive": {
      "type": "remote",
      "url": "https://gusto.runlayer.com/api/v1/proxy/eb61d550-9562-4a2c-bb8f-f32ce5e59f37/mcp",
      "headers": {
        "x-runlayer-api-key": "{env:RUNLAYER_API_KEY}"
      }
    },
    "gdocs": {
      "type": "remote",
      "url": "https://gusto.runlayer.com/api/v1/proxy/301b0edd-4be9-445c-b372-b0bc95c3972b/mcp",
      "headers": {
        "x-runlayer-api-key": "{env:RUNLAYER_API_KEY}"
      }
    },
    "gsheets": {
      "type": "remote",
      "url": "https://gusto.runlayer.com/api/v1/proxy/67c072b8-017b-4ef2-96ac-e5c1b3c5a0be/mcp",
      "headers": {
        "x-runlayer-api-key": "{env:RUNLAYER_API_KEY}"
      }
    },
    "gcal_gusto_runlayer": {
      "type": "remote",
      "url": "https://gusto.runlayer.com/api/v1/proxy/782f35b5-800a-480e-80e3-82c04ef041b1/mcp",
      "headers": {
        "x-runlayer-api-key": "{env:RUNLAYER_API_KEY}"
      }
    }
  }
}
